@use "./constants/index.scss" as *;

.hero {
	min-height: px-to-rem(494px);

	background-color: rgb(138, 138, 220);
	background-image: url("./assets/hero-banner-starwars.webp");
	background-size: cover;
	overflow: hidden;

	&_content {
		max-width: calc(map-get($containers, "laptop") - px-to-rem(16px));
		margin-inline: auto;
		padding-inline: px-to-rem(16px);
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&_image {
		margin-top: px-to-rem(54px);
		position: relative;
		&_intro {
			scale: 18;
			animation-name: intro;
			animation-duration: 1.2s;
			animation-fill-mode: forwards;
			animation-timing-function: ease-out;
		}
	}
	&_text {
		position: absolute;
		color: white;
		top: 36%;
		font-family: "Cormorant Garamond", serif;
		font-size: clamp(1.5rem, 1.205rem + 1.48vw, 2.313rem);
		right: 0;
		left: 0;
		text-align: center;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: px-to-rem(4px);
		text-transform: uppercase;
		scale: 1.1;
		opacity: 0;
		animation-name: introText;
		animation-duration: 0.8s;
		animation-delay: 1.2s;
		animation-fill-mode: forwards;
		animation-timing-function: ease-out;
	}
}

.popularSearch {
	margin-top: px-to-rem(45px);
	h2 {
		text-align: center;
		color: #292626;
		font-family: Nunito Sans;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
	}
}

@keyframes intro {
	to {
		scale: 1;
	}
}

@keyframes introText {
	to {
		opacity: 1;
		letter-spacing: px-to-rem(15px);
	}
}
