@use "../../constants/index.scss" as *;

.Nav {
	max-width: calc(map-get($containers, "laptop") - px-to-rem(16px));
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
	padding-top: px-to-rem(30px);
	align-items: center;
	padding-inline: px-to-rem(16px);
}

.Nav_logo {
	max-width: px-to-rem(72px);
	min-width: px-to-rem(72px);
}

.Nav_links {
	display: flex;
	gap: px-to-rem(30px);
	@include custom-media-query("mobile", 400px) {
		font-size: px-to-rem(14px);
		gap: px-to-rem(10px);
	}

	@include custom-media-query("mobile", 320px) {
		font-size: px-to-rem(12px);
		gap: px-to-rem(8px);
	}

	a {
		text-decoration: none;
		color: white;
	}
}
